#list {
  width: 800px;
  font-size: x-small;
  margin: 2px;
  border-style: solid;
  border-color: #8E8E8E;
  border-width: 0px 1px 1px 0px;
  overflow: hidden;
}

#list .list-header {
  background-color: #00496E;
  color: #FFFFFF;
  font-weight: 500;
}

#list .list-completed {
  background-color: #393939;
  color: #8E8E8E;
}

#list .list-uncompleted {
  background-color: #FFFFFF;
  color: #1C1C1C;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
}

#list .list-uncompleted:hover {
  background-color: #FCEDAA;
  color: #1C1C1C;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
}

#list .list-row {
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: left;
  vertical-align: middle;
  border-style: solid;
  border-color: #8E8E8E;
  border-width: 1px 0px 0px 1px;
}

#list .list-entry {
  padding: 4px;
}

#list .list-entry > input {
  vertical-align: middle;
}

#list .list-entry > label {
  padding-left: 2px;
}
